.cardetail {
  display: flex;
  align-items: center;
  width: 80%;
  margin: auto;
  height: 650px;
}
.fotito {
  height: 450px;
  width: auto;
  margin-left: 15%;
}
.foto {
  width: 50%;
}

.desc {
  width: 50%;
  margin: auto;

  margin-top: 8%;
}

.nose {
  display: flex;
  flex-direction: column;
}

.descripcion {
  width: 55%;
  color: black;
  line-height: 16px;
}
div.nose h1 {
  font-size: 2rem;
  color: black;
  margin-bottom: 40px;
  margin-top: 15px;
}

div.nose span {
  font-weight: 500;
  font-size: 12px;
  color: rgb(129, 129, 129);
}
.boton {
  width: 30%;
  background: red;
  color: white;
  border: none;
  height: 40px;
  margin-bottom: 3%;
}

.gridButton {
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(5, 1fr);
  margin: 3% 0;
  width: 60%;
}
.botons {
  cursor: pointer;
  line-height: 42px;
  border: 1.5px solid rgb(231, 231, 231);
  background-color: transparent;
}

.selectedBtn {
  border: 1.5px solid rgb(0, 0, 0);
}

.cantidad {
  width: 20%;
  line-height: 34px;
  border: 1.5px solid rgb(231, 231, 231);
  background-color: transparent;
  margin-left: 2%;
}

div label {
  margin-left: 2%;
}

.mt-7 {
  margin-top: 10%;
}

.send {
  margin-top: 1%;
  margin-left: 94%;
}

.review {
  margin: 1%;
}

.card-content {
  display: flex;
  justify-content: space-between;
}
