#login{
  margin-top: 10em;
  margin-bottom: 10em;
  max-width: 35em;
}
#margen{
  margin-top:2em;
  margin-bottom:2em;
}
#borderText{
border-bottom: 1px solid rgba(77, 75, 75 , 0.4);
box-shadow: 0px 2px 0px rgba(168, 165, 165 , 0,2);
justify-content: center;
display: flex;
width: 100%;
}
#anchoInput{
  width: 100%;
}
#sessionTitle{
  font-size: 2em;
  margin: 1em;
}
#canvas{
max-width: 22em;
}
.canvasTitle{
font-size: 2em;
}
.cartImg{
min-width: 5.5em;
min-height: 5.5em;
}
.itemTitle{
font-size: 0.8em;
min-width: 18em;
margin-bottom: 2em;
}
.colFlex{
display: flex;
flex-direction: column;
}
#colItem{
max-width: 2.5em;
}
.subTotal{
font-size: 10px;
}
#itemContent{
padding-bottom: 1em;
}
#totalTitle{
font-size: 1.4em;
}
#totalMonto{
font-size: 1.8em;
}
#btn{
margin:0;
}
#envioForm{
  margin-top: 10em;
}
#verifyContainer{
  display: flex;
}
.cardContainer{
  display: flex;
}
#margenKey{
  max-width: 7em;
  margin-left: 14em;
}
#exampleModalLabel{
  font-size: 2em;
}
#adminMargen{
  margin-top: 7em;
  margin-bottom: 7em;
}
#canvasTalle{
  display: flex;
  justify-content: center;
}
#addTalle{
  max-width: 400px;
}
#canvasProducto{
  margin: auto;
}
#addProducto{
  max-width: 600px;
  min-width: 500px;
  display: flex;
  flex-direction: column;
}
