#login{
    margin-top: 10em;
    max-width: 35em;
  }
#margen{
    margin-top:2em;
    margin-bottom:2em;
}
#borderText{
  border-bottom: 1px solid rgba(77, 75, 75 , 0.4);
  box-shadow: 0px 2px 0px rgba(168, 165, 165 , 0,2);
  justify-content: center;
  display: flex;
}
#canvas{
  max-width: 22em;
}
.canvasTitle{
  font-size: 2em;
}
.cartImg{
  min-width: 5.5em;
  min-height: 5.5em;
}
.itemTitle{
  font-size: 0.9em;
  margin-bottom: 2em;
}
.colFlex{
  display: flex;
  flex-direction: column;
}
#colItem{
  max-width: 3em;
}
.subTotal{
  font-size: 10px;
}
#itemContent{
  padding-bottom: 3em;
}
#totalTitle{
  font-size: 1.4em;
}
#totalMonto{
  font-size: 1.8em;
}