.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 270px);
  gap: 20px;
  padding: 0 80px;
  justify-content: center;
  width: 80%;
  margin-left: 10%;
  margin-top: 2%;
}

.contenedor {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.contenedor h1 {
  margin: 5% 50% 0 0;
}
